.button {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    position: relative;
  }
  
  .button .text-wrapper {
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button .text-wrapper-2 {
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button .icon-relume {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .button .text-wrapper-3 {
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.no-icon {
    gap: 8px;
  }
  
  .button.link {
    gap: 8px;
  }
  
  .button.primary {
    border: 1px solid;
  }
  
  .button.secondary {
    border: 1px solid;
  }
  
  .button.small-true {
    padding: 8px 20px;
  }
  
  .button.secondary.small-false {
    padding: 12px 24px;
  }
  
  .button.secondary.dark-mode-true {
    border-color: var(--white);
  }
  
  .button.primary.dark-mode-false {
    background-color: var(--black);
    border-color: var(--black);
  }
  
  .button.primary.small-false {
    padding: 12px 24px;
  }
  
  .button.primary.trailing {
    gap: 12px;
  }
  
  .button.primary.dark-mode-true {
    background-color: var(--white);
    border-color: var(--white);
  }
  
  .button.secondary.leading {
    gap: 12px;
  }
  
  .button.primary.leading {
    gap: 12px;
  }
  
  .button.secondary.dark-mode-false {
    border-color: var(--black);
  }
  
  .button.secondary.trailing {
    gap: 12px;
  }
  
  .button.primary.dark-mode-true .text-wrapper {
    color: var(--black);
  }
  
  .button.secondary.dark-mode-true .text-wrapper {
    color: var(--white);
  }
  
  .button.dark-mode-false.link .text-wrapper {
    color: var(--black);
  }
  
  .button.dark-mode-true.link .text-wrapper {
    color: var(--white);
  }
  
  .button.secondary.dark-mode-false .text-wrapper {
    color: var(--black);
  }
  
  .button.primary.dark-mode-false .text-wrapper {
    color: var(--white);
  }
  
  .button.primary.dark-mode-true .text-wrapper-2 {
    color: var(--black);
  }
  
  .button.secondary.dark-mode-true .text-wrapper-2 {
    color: var(--white);
  }
  
  .button.dark-mode-false.link .text-wrapper-2 {
    color: var(--black);
  }
  
  .button.dark-mode-true.link .text-wrapper-2 {
    color: var(--white);
  }
  
  .button.secondary.dark-mode-false .text-wrapper-2 {
    color: var(--black);
  }
  
  .button.primary.dark-mode-false .text-wrapper-2 {
    color: var(--white);
  }
  
  .button.primary.dark-mode-true .text-wrapper-3 {
    color: var(--black);
  }
  
  .button.secondary.dark-mode-true .text-wrapper-3 {
    color: var(--white);
  }
  
  .button.dark-mode-false.link .text-wrapper-3 {
    color: var(--black);
  }
  
  .button.dark-mode-true.link .text-wrapper-3 {
    color: var(--white);
  }
  
  .button.secondary.dark-mode-false .text-wrapper-3 {
    color: var(--black);
  }
  
  .button.primary.dark-mode-false .text-wrapper-3 {
    color: var(--white);
  }
  